<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<div class='container' style="width:400px">
<form novalidate ng-submit="login()" name="loginForm">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input class="form-control" placeholder="Username" id="id_username" maxlength="254" ng-model="user.username"type="text" required autofocus=""/>
  <input type="password" class="form-control" placeholder="Password" id="id_password" ng-model="user.password" type="password" required />
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid || loginForm.$submitted"value="Submit" />Sign in</button>
</form>
</div>
