<form
    novalidate
    ng-submit="login()"
    name="loginForm">

  <fieldset class="layout">
    <div>
      <div>
        <input type="email" ng-model="user.email" name="email"required>
        <label for="email">Email</label>
      </div>
      <div class="error" ng-messages="loginForm.email.$touched && loginForm.email.$error" role="alert">
        <div ng-message="email">
          Please enter a valid email address
        </div>
        <div ng-message="required">
          Email is required
        </div>
      </div>
      <div>
        <input type="password" ng-model="user.password" name="password"required>
        <label for="password">Password</label>
      </div>
      <div class="error" ng-messages="loginForm.password.$touched && loginForm.password.$error" role="alert">
        <div ng-message="required">
          Password is required
        </div>
      </div>
      <button type="submit" ng-disabled="loginForm.$invalid || loginForm.$submitted">Login</button>
    </div>
  </fieldset>
</form>
