<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-navi navbar-left" ng-repeat="subject in subjects">
              <a class="navbar-brand" href="/#/professor/{{subject.id}}/">
                {{subject.name}} {{subject.class_name}}
                </a>
            </ul>
            <ul class="nav navbar-right">
            <div class="dropdown navbar-brand">
              <button class="btn btn-link dropdown-toggle"  data-toggle="dropdown">{{username}}
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/#/professor/new-text/">New Text</a></li>
                <li><a ng-click="logOut()" >Log out</a></li>
              </ul>
            </div>
          </ul>
        </div>
    </div>
</div>
<div ui-view></div>
