<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="bower_components/ngWYSIWYG/css/editor.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right">
            <div class="dropdown navbar-brand">
              <button class="btn btn-link dropdown-toggle"  data-toggle="dropdown">{{username}}</button>
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/#/student/home/">Home</a></li>
                <li><a href="#">Settings</a></li>
                <li><a ng-click="logOut()">Log out</a></li>
              </ul>
            </div>
          </ul>
        </div>
    </div>
</div>
<div class="col-sm-3 col-md-3 sidebar">
    <div ng-repeat="subject in subjects">
    <input type="checkbox" ng-click="togleSelect(subject)">{{subject.name}} {{subject.class_name}}</br>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-4 col-md-9 col-md-offset-3 main">
  <h2>Name:<input ng-model="name"></input> </h2>
  <wysiwyg-edit content="content" config="editorConfig"></wysiwyg-edit>
  <button ng-click="showSelected()">Post</button>
</div>
