<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right">
            <div class="dropdown navbar-brand">
              <button class="btn btn-link dropdown-toggle"  data-toggle="dropdown">{{username}}</button>
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/#/student/home/">Home</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Log out</a></li>
              </ul>
            </div>
          </ul>
        </div>
    </div>
</div>
