<div class="col-sm-2 col-md-2 sidebar">
</div>
<div class="col-sm-10 col-sm-offset-4 col-md-10 col-md-offset-2 main">
  <div>
    <div class="container col-sm-8 col-md-8">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">New Post</button>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <textarea class="form-control" rows="3" ng-model="text" ></textarea>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" ng-click="dismiss()" data-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary" ng-click="post(text)">
                Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div>
    <div ng-repeat="noty in notes | orderBy:'-id'">
      <note-directive> </note-directive>
    </div>
  </div>
</div>
